<section class="policy">
  <div class="page-width page-width--narrow">
    <h2>{{ section.settings.policy_title }}</h2>

    <p class="first-text">
      {{ section.settings.policy_intro }}
    </p>

    {% for block in section.blocks %}
    <div class="block">
      <h3>{{ block.settings.block_title }}</h3>
      <p>{{ block.settings.block_content }}</p>
    </div>
    {% endfor %}
  </div>

  <style>
  .policy {
    width: 100%;
    padding-top: 80px;
  }
  .policy h2 {
    text-align: center;
    margin-bottom: 60px;
  }
  .policy .first-text {
    margin-bottom: 60px;
  }
  .policy .block {
    margin-bottom: 60px;
  }
  .policy .block h3 {
    /* font-family: "Chivo", sans-serif !important; */
    font-size: 24px;
    font-weight: 600;
  }
  .policy .block ol {
    margin: 0 0 20px 60px;
  } 
  @media only screen and (max-width: 589px) {
    .policy {
      padding-top: 40px;
    }
    .policy h2 {
      margin-bottom: 20px;
    }
    .policy .block h3 {
      font-size: 18px;
    }
    .policy .block ul {
      margin: 0 0 20px 20px;
    }
    .policy .block ol {
      margin: 0 0 20px 30px;
    }
    .policy .block p,.policy .block li {
      font-size: 15px;
    }
  }
  </style>
</section>



{% schema %}
{
  "name": "Privacy Policy",
  "settings": [
    {
      "type": "text",
      "id": "policy_title",
      "label": "プライバシーポリシーのタイトル",
      "default": "プライバシーポリシー"
    },
    {
      "type": "textarea",
      "id": "policy_intro",
      "label": "プライバシーポリシーのイントロ",
      "default": "株式会社オーティーズ（以下、「当社」といいます。）は、本ウェブサイト上で提供するサービス（以下、「本サービス」といいます。）における、ユーザーの個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "テキストブロック",
      "settings": [
        {
          "type": "text",
          "id": "block_title",
          "label": "ブロックタイトル",
          "default": "第1条（個人情報）"
        },
        {
          "type": "richtext",
          "id": "block_content",
          "label": "ブロック内容"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Privacy Policy"
    }
  ]
}
{% endschema %}